<h1>Cheques</h1>

<p>To print a cheque, please enter the details below:</p>

<div class="container-fluid">
    <form class="form-horizontal cheque-details">
        <div class="form-group">
            <label class="control-label col-sm-1" for="name">Name</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="name" name="name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="amount">Amount</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="amount" name="amount" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="date">Date</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="date" name="date" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <button class="btn btn-primary" type="submit" (click)="generateCheque()">Print Cheque</button>
            </div>
        </div>
    </form>



    <div class="col-sm-8 cheque">
        <div class="row">
            <div class="col-sm-6 cheque-label">Bank of Prospa</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-9 col-sm-3">
                <span class="cheque-label">DATE</span>
                <span>{{cheque.formattedDate}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <span class="cheque-label">PAY</span>
                <span>{{cheque.name}}</span>
            </div>
            <div class="col-sm-3">
                <span class="cheque-label">$</span>
                <span class="cheque-amount">{{cheque.amount}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">{{cheque.amountInWords}}</div>
        </div>
    </div>
</div>