<h1>Cheques</h1>

<p>To print a cheque, please enter the details below:</p>

<div class="container-fluid">
    <form class="form-horizontal cheque-details">
        <div class="form-group">
            <label class="control-label col-sm-1" for="name">Name</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="name" name="name" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="amount">Amount</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="amount" name="amount" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-1" for="date">Date</label>
            <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="date" name="date" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-4">
                <button class="btn btn-primary" type="submit" (click)="generateCheque()">Print Cheque</button>
            </div>
        </div>
    </form>


    <div class="cheque">
        <div class="row">
            <div class="col-sm-offset-6 col-sm-1 cheque-date-label">DATE</div>
            <div class="col-sm-2 cheque-date">{{cheque.formattedDate}}</div>
        </div>
        <div class="row">
            <div class="col-sm-1 cheque-pay-label">PAY</div>
            <div class="col-sm-4 cheque-pay">{{cheque.name}}</div>
            <div class="col-sm-1 cheque-amount-label">$</div>
            <div class="col-sm-3 cheque-amount">{{cheque.amount}}</div>
        </div>
        <div class="row">
            <div class="cheque-amount-in-words">{{cheque.amountInWords}}</div>
        </div>
    </div>
</div>